<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
>
   <extension
         id="org.eclipse.xtext.xdoc.ui.wizards"
         name="newProjectWizard"
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.xtext.xdoc.ui.wizards"
            name="Xdoc">
      </category>
      <wizard
            category="org.eclipse.xtext.xdoc.ui.wizards"
            class="org.eclipse.xtext.xdoc.ui.wizards.NewWizard"
            id="org.eclipse.xtext.xdoc.ui.wizards"
            name="New Xdoc Project"
            project="true">
      </wizard>
   </extension>
</plugin>
