<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/xtext/xdoc/Xdoc" 
       class = "org.eclipse.xtext.xdoc.xdoc.XdocPackage"
       genModel = "model/Xdoc.genmodel" /> 
	
  </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Xdoc -->
      <package
            uri="http://eclipse.org/Xtext/xdoc/imageProxy"
            class="org.eclipse.xtext.xdoc.images.ImagesPackage"
            genModel="model/Xdoc.genmodel"/>
   </extension>





</plugin>
